@use "variables/colors";
@use "variables/main";
@use "components/search-results";
@use "components/notices";
@use "components/banner-contact";
@use "components/footer";

* {
  box-sizing: border-box;
}
html {
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
}
h1,
h2 {
  margin: 0;
  padding-bottom: 1rem;
}
.general-container > * {
  padding: main.$main-padding;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bca4ff59;
}
h1 {
  color: colors.$primary-color;
  font-size: 2rem;
  font-weight: 700;
}
.menu-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  color: colors.$primary-color;
}
.results-button {
  background-color: #ed2e7e;
  height: 2.5rem;
  min-width: 100%;
  color: white;
  border-radius: 20px;
  border-style: none;
}
.main-search {
  border-bottom: 1px solid;
  border-color: #d9dbe0;

  &__title {
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  @media (min-width: 700px) {
    &__form {
      flex-direction: row;
    }
  }

  @media (min-width: 700px) {
    &__button {
      min-width: 0;
      flex: 0.8;
    }
  }
  &__input {
    border: 2px solid #14142b;
  }
}
.input {
  border-radius: 16px;
  height: 2.5rem;
  min-width: 100%;
  background-color: #f7f7fc;

  &::placeholder {
    padding-left: 10px;
  }
  &::-webkit-calendar-picker-indicator {
    opacity: 100;
  }
}
@media (min-width: 700px) {
  __input {
    min-width: 0;
  }
}
@media (min-width: 700px) {
  input[list="destination"] {
    flex: 2;
  }

  input[list="calendary"] {
    flex: 1;
  }
  input[list="people"] {
    flex: 1;
  }
}
.secondary-search {
  background-color: #2a00a2;
  color: #bca4ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  &__title {
    font-size: 16px;
  }
  &__input {
    background-image: "&#xf073";
    margin-bottom: 12px;
  }
  &__button {
    height: 3rem;
    margin-top: 0.8rem;
  }
}
.secondary-search__tittle {
  margin-bottom: 1.3rem;
  font-weight: 600;
}
label {
  font-size: 1rem;
}
