@use "variables/colors";
* {
  box-sizing: border-box;
}
html {
  font-family: Poppis, sans-serif;
}
body {
  margin: 0;
}
h1,
h2 {
  margin: 0;
}
.general-container {
  margin: 2rem;
}
.header {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: colors.$primary-color;
}
