.main-search {
  display: flex;
  margin: 2rem;
  flex-direction: column;

  &__title {
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__button {
    background-color: #ed2e7e;
    height: 2.5rem;
    min-width: 100%;
    color: white;
    border-radius: 20px;
    border-style: none;
  }

  &__input {
    border-radius: 7px;
    height: 2rem;
    min-width: 100%;

    &::placeholder {
      padding-left: 10px;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 100;
    }
  }
}
