@use "variables/colors";
@use "variables/main";
* {
  box-sizing: border-box;
}
html {
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
}
h1,
h2 {
  margin: 0;
}
.general-container > * {
  padding: main.$main-padding;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bca4ff59;
  padding: 30px;
}
h1 {
  color: colors.$primary-color;
  font-size: 2rem;
  font-weight: 700;
}
.menu-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  color: colors.$primary-color;
}

.main-search {
  padding: 2rem;
  border-bottom: 1px solid;
  border-color: #d9dbe0;

  &__title {
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  @media (min-width: 700px) {
    &__form {
      flex-direction: row;
    }
  }

  &__button {
    background-color: #ed2e7e;
    height: 2.5rem;
    min-width: 100%;
    color: white;
    border-radius: 20px;
    border-style: none;
  }

  @media (min-width: 700px) {
    &__button {
      min-width: 0;
      flex: 0.8;
    }
  }

  &__input {
    border-radius: 7px;
    height: 2rem;
    min-width: 100%;
    background-color: #f7f7fc;

    &::placeholder {
      padding-left: 10px;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 100;
    }
  }
  @media (min-width: 700px) {
    &__input {
      min-width: 0;
    }
  }
}

@media (min-width: 700px) {
  input[list="destination"] {
    flex: 2;
  }

  input[list="calendary"] {
    flex: 1;
  }
  input[list="people"] {
    flex: 1;
  }
}

.search-results {
  &__title {
    padding-bottom: 2rem;
  }

  &__house-image {
    height: 12.75rem;
    width: 17rem;
    margin-right: 2.1rem;
  }

  &__info {
    position: relative;
  }

  &__star {
    width: 1.375rem;
    height: 1.375rem;
  }
  &__house-title {
    color: #5f2eea;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 700px) {
    &__list {
      flex-direction: row;
    }
  }

  &__button {
    color: #5f2eea;
    background-color: transparent;
    border-color: #d9dbe9;
    width: 10.75rem;
    height: 2.5rem;
    letter-spacing: 2px;
    border-radius: 50px;
    border-style: solid;
  }

  @media (min-width: 700px) {
    &__button {
      position: absolute;
      right: 0;
      top: -10px;
    }
  }

  &__link-map {
    color: #5f2eea;
    text-decoration: none;
  }

  .fa-location-dot {
    color: #5f2eea;
  }
}
