.footer {
  display: flex;
  flex-direction: column;

  & > * {
    margin-bottom: 2rem;
  }

  &__services,
  &__continents {
    display: none;
  }
  &__travelulu > span {
    font-weight: 600;
  }
  &__contact-direction {
    list-style: none;
    padding: 0;
  }

  &__travelulu,
  &__contact {
    text-align: center;
  }
  & ul {
    list-style: none;
    padding: 0;
  }
  &__contact > a {
    text-decoration: none;
  }
}

@media (min-width: 700px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;

    & > * {
      max-width: 17rem;
    }
    &__services,
    &__continents {
      display: block;
    }
    &__travelulu,
    &__contact {
      text-align: left;
    }
  }
}
