@use "../variables/colors";
@use "../variables/main";

.general-container > * {
  padding: main.$main-padding;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid colors.$primary-background-color;
}

.menu-button {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0;
  color: colors.$primary-color;
  cursor: pointer;
}

.results-button {
  background-color: colors.$terciary-color;
  height: 2.5rem;
  min-width: 100%;
  color: colors.$light-color;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}

.input {
  border-radius: 16px;
  height: 2.5rem;
  min-width: 100%;
  background-color: colors.$light-color;
  cursor: pointer;

  &::placeholder {
    padding-left: 10px;
  }
  &::-webkit-calendar-picker-indicator {
    opacity: 100;
  }
}
