.notices > div {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  min-width: 100%;
  height: 124px;
  padding: 1rem;
  justify-content: space-between;
  font-family: Poppins;
}
.notices__advertise {
  background-color: #f2fffb;
  border: 2px solid #00ba88;
  border-radius: 1rem;
  p {
    color: #00966d;
    font-weight: 500;
    margin: 0;
  }
}
.notices__symbol {
  margin: 0.8rem;
  font-size: 1.5rem;
  position: relative;
  bottom: 1rem;
}
.notices__button {
  border: 0;
  background-color: transparent;
}
.notices .notices__button-cancel {
  font-size: 0.8rem;
}
