@use "../variables/colors";
.notices > div {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  min-width: 100%;
  padding: 1rem;
  justify-content: space-between;
  font-family: Poppins;
  border-radius: 1rem;
}
.notices {
  &__advertise {
    background-color: colors.$notice-1-background-color;
    border: 2px solid colors.$notice-1-color;
    margin-bottom: 2rem;
    p {
      color: colors.$notice-1-color;
      font-weight: 500;
      margin: 0;
      margin-right: 3rem;
    }
  }
  &__symbol {
    margin: 0.8rem;
    font-size: 1.5rem;
    position: relative;
    bottom: 1rem;
  }
  &__button {
    border: 0;
    background-color: transparent;
    margin-left: auto;
  }
  &__button-cancel {
    font-size: 0.8rem;
  }
  &__warning {
    background-color: colors.$notice-2-background-color;
    border: 2px solid colors.$notice-2-color;
    p {
      color: colors.$notice-2-color;
      font-weight: 500;
      margin: 0;
      margin-right: 3rem;
    }
  }
}
