@use "../variables/colors";

.search-results {
  flex: 4;

  p {
    max-width: 25rem;
    color: colors.$light-font-color;
  }

  &__title {
    padding-bottom: 2rem;
  }
  @media (min-width: 700px) {
    &__title {
      font-size: 2rem;
    }
  }

  &__house-image {
    height: 12.75rem;
    width: 17rem;
    margin-right: 2.1rem;
  }

  &__info {
    position: relative;
  }

  &__star {
    width: 1.375rem;
    height: 1.375rem;
  }
  &__house-title {
    color: colors.$primary-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bca4ff59;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  @media (min-width: 700px) {
    &__list {
      flex-direction: row;
    }
  }

  &__button {
    color: colors.$primary-color;
    background-color: transparent;
    border-color: colors.$light-color;
    width: 10.75rem;
    height: 2.5rem;
    letter-spacing: 2px;
    border-radius: 50px;
    border-style: solid;
    cursor: pointer;
  }

  @media (min-width: 700px) {
    &__button {
      position: absolute;
      right: -125px;
      top: -10px;
    }
  }

  &__link-map {
    color: colors.$primary-color;
    text-decoration: none;
  }

  .fa-location-dot {
    color: colors.$primary-color;
  }
}
