$primary-color: #5f2eea;
$light-color: #eff0f6;
$notice-1-color-light: #f2fffb;
$notice-1-color: #00ba88;
$terciary-color-light: #fff3f8;
$terciary-color: #ed2e7e;
$primary-background-color: #f7f7fc;
$light-font-color: #6e7191;
$dark-font-color: #000000;
