@use "colors";
@use "main";

* {
  box-sizing: border-box;
}
html {
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
}
h1,
h2 {
  margin: 0;
  padding-bottom: 1rem;
}

h1 {
  color: colors.$primary-color;
  font-size: 2rem;
  font-weight: 700;
}
